<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Product List</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h3>Add product
      <button mat-fab><mat-icon>add</mat-icon></button>
      </h3>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
        <mat-cell *matCellDef="let product">
          <button mat-button>
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Product name</mat-header-cell>
        <mat-cell *matCellDef="let product">{{ product.productName }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Introduction date</mat-header-cell>
        <mat-cell *matCellDef="let product">{{ product.introductionDate }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
        <mat-cell *matCellDef="let product">{{ product.price }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="url">
        <mat-header-cell *matHeaderCellDef>URL</mat-header-cell>
        <mat-cell *matCellDef="let product">{{ product.url }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
        <mat-cell *matCellDef="let product">
          <button mat-button><mat-icon>delete</mat-icon></button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
