mat-card {
  width: 60%;
  margin: 20px auto 0;
  button {
    margin-right: 5px;
  }
}

mat-form-field {
  display: flex;
  flex: 1 1 auto;

  ::ng-deep div.mat-form-field-wrapper {
    display: flex;
    flex: 1 1 auto;
  }

}
